// Variables
//
// Main Variables.
$easys-padding: 1.618rem;


// Layout
//
// General site style.
body{
    background: $easys-cream;
}
.navbar{
    margin-bottom: $easys-padding;
}
.btn-primary{
    background: $easys-red;
    border-color: $easys-red;
    
    &:hover{
        background: darken($easys-red, 5%);
        border-color: darken($easys-red, 10%)
    }
}
footer{
    background: $easys-red;
    
    p,
    a{
        color: white;
    }
    
    a:hover{
        color: $easys-gris;
    }
}


// Typography
//
// Font faces.
@for $i from 1 through 6 {
    h#{$i}{
        color: $easys-red;
    }
}
p{
    color: $easys-gris;
}


// Tabs
//
// Main tabs style.
.tab-panels ul {
    margin: 0;
    padding: 0
}

.tab-panels ul li {
    list-style-type: none;
    display: inline-block;
    background: white;
    margin: 0;
    padding: 3px 10px;
    color: $easys-red;
    font-weight: 200;
    cursor: pointer;
    outline: 1px solid $easys-red;
}

.tab-panels ul li:hover {
    color: white;
    background: $easys-red;
}

.tab-panels ul li.active {
    color: white;
    background: $easys-red;
}

.tab-panels .panel {
    display: none;
    outline: 1px solid $easys-red;
    padding: 30px;
}

.tab-panels .panel.active {
    display: block;
}

.panel{
    background: white;
}

.panel-text {
    color: black;
}

.panel img{
    margin-bottom: $easys-padding;
}

.tab-panels{
    margin-bottom: 70px;
}